<section class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="center">
  <aside fxFlex="100%" class="icon-container">
    <h2>On the web</h2>
    <i class="fab fa-github fa-4x"></i>
    <i class="fab fa-linkedin fa-4x"></i>
    <i class="far fa-address-card fa-4x"></i>
  </aside>
  <form fxFlex="100%" class="form-container">
    <h2>Contact Me</h2>
    <mat-form-field>
      <input matInput>
      <mat-label>
        <mat-icon>person</mat-icon> Name</mat-label>
    </mat-form-field>
    <mat-form-field>
      <input matInput>
      <mat-label>
        <mat-icon>email</mat-icon> Email</mat-label>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput></textarea>
      <mat-label>
        <mat-icon>textsms</mat-icon> Message</mat-label>
    </mat-form-field>
    <button mat-raised-button class="submit-button">Submit</button>
  </form>
</section>