@import '../../../assets/colors';

.h1-label {
    animation: fadeIn .75s ease-out
}

h1:nth-of-type(2) {
    color: $primary;
    animation: fadeIn 1.5s ease-out;
    margin-left: 300px
}

h1:nth-of-type(3) {
    color: $secondary;
    animation: fadeIn 2.5s ease-in;
    margin-left: 130px;
}

.centered {
    margin:auto;
}


.promo-buttons {
    font-size: 1.2rem;
    display: inline-block;
    width: fit-content;
    margin: 10px;
  } 

.dual-column {
    background-color: $primary;
    color: white;
}

h2:nth-of-type(2) {
    color: $primary;
}

.accordian-container {
    margin-top: 15px;
}

@media only screen and (max-width: 1000px) {
    h1:nth-of-type(2) {
        margin-left: 112px;    
    }
    
    h1:nth-of-type(3) {
        margin-left: 112px;
    }
}

@media only screen and (max-width: 700px) {    
    h1:nth-of-type(2) {
        margin-left: 80px;    
    }
    
    h1:nth-of-type(3) {
        margin-left: 80px;
    }

    .promo-buttons {
        font-size: .9rem;
        margin: 7px;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
 } 

