<section role="main">
  <section class="container lead-container" fxLayout="column" fxLayoutAlign="center">
    <h1>I'm a <span class="h1-label">competitor.</span></h1>
    <h1>problem solver.</h1>
    <h1>developer.</h1>
    <div class="centered">
      <button mat-raised-button class="promo-buttons">View my work</button>
      <button mat-raised-button  class="promo-buttons" color="primary">See my resume</button>
    </div>

  </section>
  <section class="container dual-column" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="center">
    <div fxFlex="100%">
      <h2>About</h2>
    </div>
    <div fxFlex="48%">
      <h3>Competitor</h3>
      <p>I am driven to be successful in everything I do, both professionally and personally. When I'm not working you will
        find me perfecting my beach volleyball skills.</p>
    </div>
    <div fxFlex="48%">
      <h3>Problem Solver</h3>
      <p>I love strategy and determining the best way to achieve a goal. Playing any game that requires strategy is one of my
        go to personal favorite ways to spend a night.</p>
    </div>
    <div fxFlex="100%">
      <h3>Developer</h3>
      <p>Developing is challenging and fun. It is incredibly fulfilling, in that it keeps my mind sharp and pushes me to be
        my best. It requires solving problems, both cookie cutter and out of the box. JavaScript has been a great language
        to start with. It works in so many different ways that allows to use it in endless ways on the front end or back
        end. </p>
    </div>

  </section>
  <section class="container tri-column" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="center">
    <div fxFlex="100%">
      <h2>Skills</h2>
    </div>
    <div fxFlex="100%" class="accordian-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Visual Technologies
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <h3 matLine> Semantic HTML5 </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> CSS3 </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> SASS </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Responsive Design </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> CSS Grid </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Flexbox </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Bootstrap 4 </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Materialize Framework </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Angular Material </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> FontAwesome </h3>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              JavaScript Technologies
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <h3 matLine> ES5/ES6 </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> JQuery </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> React </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Angular 6 </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> NodeJS </h3>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Data Technologies
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <h3 matLine> MySQL </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> MongoDB </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> RESTful APIs </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Google APIs </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> AJAX </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Firebase </h3>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine> Google Analytics </h3>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tech Tools
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <h3 matLine> VS Code </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Notepad++ </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Adobe Photoshop </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Git/GitHub/GitLab </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Heroku Deployment </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Git Bash/Terminal </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Ektron CMS </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Wordpress </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Microsoft Office </h3>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Non-Development Skills
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <h3 matLine> Project Management </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Marketing Automation </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Decision Maker Influencer </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Video Production </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <h3 matLine> Salesforce </h3>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </section>