<mat-toolbar class="a1">
  <mat-toolbar-row class="container">
      <span class="name"><a routerLink="/">Alexander Bradley</a></span>
      <span class="header-spacer"></span>
      <div role="banner">
        <a class="toggle open" href="#nav"><mat-icon class="menu-icon">menu</mat-icon>
        </a>
      </div>
      <nav id="nav" role="navigation">
        <a class="toggle close" href="#">×</a>
        <ul>
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/portfolio">Portfolio</a>
          </li>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
      </nav>
  </mat-toolbar-row>
</mat-toolbar>